.footer{
    padding: 80px 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;

    background-color: var(--color-bg1);
}

.footer > p{
    font-size: .9em;
    color: var(--color-1);
}

nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

a{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    gap: 5px;

    text-align: center;
    text-decoration: none;
    color: var(--color-1);

    transition: all .3s ease;
}

a:hover{
    transform: translate(0px, -10%);
}

a:active{
    color: var(--color-3);
    transition: all .0s ease;
}

a .icon{
    font-size: 30px;
}

a p{
    font-size: .8em;
}