.graphic{
    width: 300px;
    height: 300px;

    background-color: var(--color-1);
}

.graphic line{
    stroke: var(--color-main);
}

.graphic .line_fixed{
    stroke: var(--color-bg1);
    stroke-width: 7;
}

.graphic text{
    fill: var(--color-bg1);
    font: normal normal 2.5em var(--font);
    letter-spacing: 2px;

    transform-origin: center bottom;
    transform: rotate(90deg);
}

.graphic .number{
    letter-spacing: 0px;
    transform: none;
}

.black{
    background-color: var(--color-bg1);
}
.black .line_fixed{
    stroke: var(--color-1);
}
.black text{
    fill: var(--color-1);
}
