.home{
    padding: 60px 10px;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;

    background-color: var(--color-bg2);
}
.home > *{
    transition: all .3s ease-in-out;
}

.home_opacity > *{
    opacity: 0;
}

.home img{
    width: 200px;
}

.home h1{
    color: var(--color-2);
    text-align: center;
    font-size: 2.2em;
}

.home h2{
    margin-bottom: 60px;

    color: var(--color-1);
    text-align: center;
    font-size: 1.3em;
}