@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;600;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root,
html,
body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--cor-1);
}

::-webkit-scrollbar{
  width: 0px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--cor-bg1);
  border: 2px solid var(--cor-2);
  border-radius: 4px;
}
::-webkit-scrollbar-track{
  background-color: var(--cor-2);
}

:root{
  --cor-1: #EFF1ED;
  --cor-2: #D7DBD1;
  --cor-main: #FFBD00;
  --cor-bg2: #368F8B;
  --cor-bg1: #002A32;

  --gradient: linear-gradient(to bottom, #368f8b, #247476, #145a60, #074149, #002a32);
}


@media screen and (min-width: 400px) {
  ::-webkit-scrollbar{
    width: 10px;
  }
}