@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;600;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root,
html,
body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: var(--color-1);
}

::-webkit-scrollbar{
  width: 0px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-bg2);
  border: 2px solid var(--color-1);
  border-radius: 4px;
}
::-webkit-scrollbar-track{
  background-color: var(--color-1);
}

:root{
  --color-bg1: #1e272e;
  --color-bg2: #2f3640;
  --color-main: #55acee;
  --color-1: white;
  --color-2: #FFBD00;
  --color-3: #18bc9c;

  --color-bg-alert: #be0000;
  --color-main-alert: #fcaaaa;

  --font: 'Noto Sans JP', sans-serif;
}


@media screen and (min-width: 400px) {
  ::-webkit-scrollbar{
    width: 10px;
  }
}